<% include ../header %>
<body>

    <% include options_button %>

    <% include add_place_modal %>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.modal-trigger').leanModal();
        });
    </script>

    <script type="text/javascript" src="/javascripts/maps.js"></script>
</body>
<% include ../footer %>
