<% include ../header %>
<body onload="getLocation()">

    <% include options_button %>

    <% include add_place_modal %>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.modal-trigger').leanModal();
        });
    </script>

</body>
<% include ../footer %>
