<% include ../header %>
<body>

    <% include options_button %>

    <% if (typeof(user) !== 'undefined') { %>
        <% include add_place_modal %>
    <% } else { %>
        <% include login %>
    <% } %>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.modal-trigger').leanModal();
        });
    </script>

    <script type="text/javascript" src="/javascripts/maps.js"></script>
</body>
<% include ../footer %>
