<div class="content">

    <div class="button-options">
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" href="#add-place"><i class="material-icons">add</i></a>
        </div>
    </div>

    <% include map %>
</div>
